.bmi-calculator {
  background-image: url('../bmibg.jpg');
  background-size: cover;
  background-position: centre;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #07db2a91; /* Red overlay */
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 600px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: #07db2a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
