.fitness-form-container {
  display: flex;
  justify-content: center; 
  height: 380px; 
  padding: 20px; /* Adds some padding */
  box-sizing: border-box;
}

.fitness-progress-form {
  background-color: #f9f9f9; /* Light background for the form */
  padding: 50px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  max-width: 400px; /* Max width for the form */
  width: 100%; /* Make the form take full width of the container */
}

.fitness-form-group {
  margin-bottom: 15px; /* Spacing between fields */
}

.fitness-form-label {
  display: block; /* Makes the label take full width */
  margin-bottom: 5px; /* Space between label and input */
  font-weight: bold;
}

.fitness-form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded input */
}

.fitness-form-button {
  width: 100%;
  padding: 10px;
  background-color: #07db2a; /* Button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.fitness-form-button:hover {
  background-color: #07db2a; /* Darker button color on hover */
}
