.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 350px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.create {
  font-size: 16px;
  color: #555;
  text-align: center;
}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgb(203, 203, 203);
  font-size: 14px;
}

.signup input:focus {
  outline: none;
}

.signup button {
  width: 70%;
  padding: 10px;
  background-color: #07db2a;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  margin-left: 50px;
}

.signup button:hover {
  background-color: #07db2a;
}

.form-options-sign {
  display: flex;
  margin-bottom: 10px;
}

.form-options-sign input {
  margin: 5px;
}

.form-options-sign label {
  margin:5px;
  font-size: 12px;
}
.login-link {
  color: #007bff;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.login-link:hover {
  text-decoration: underline;
}

.Spic {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spic img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 290px;
}



/* 
.signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  padding: 0 10%;
  position: relative;
  overflow: hidden;
}


.signup-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}


.signup-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-image img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.addUser {
  flex: 1;
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addUserForm .inputGroup label {
  margin-top: 10px;
}

.addUserForm .inputGroup input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputGroup button {
  margin-top: 10px;
}

.login {
  margin-top: 20px;
  text-align: center;
}

.login .btn.btn-primary {
  width: 100%;
}

.addUser h3 {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
} */